<main>
  <div
    *ngIf="pokemon"
    class="max-w-lg p-6 mx-auto mt-10 bg-white rounded-md shadow-lg"
  >
    <h1 class="mb-4 text-2xl font-bold text-center">
      {{ pokemon.name | uppercase }}
    </h1>
    <img
      [src]="
        isFrontSprite
          ? pokemon.sprites.front_default
          : pokemon.sprites.back_default
      "
      alt="{{ pokemon.name }}"
      class="w-32 h-32 mx-auto mb-4 transition-transform duration-500 ease-in-out transform hover:scale-105"
    />

    <h2 class="mb-2 text-lg font-semibold">Abilities</h2>
    <ul class="pl-5 list-disc">
      <li *ngFor="let ability of pokemon.abilities">
        {{ ability.ability.name }}
      </li>
    </ul>

    <h2 class="mt-4 mb-2 text-lg font-semibold">Stats</h2>
    <div *ngFor="let stat of pokemon.stats" class="mb-2">
      <div class="flex items-center justify-between mb-1">
        <span class="text-sm font-semibold">{{
          stat.stat.name | titlecase
        }}</span>
        <span class="text-sm font-semibold">{{ stat.base_stat }}</span>
      </div>
      <div class="w-full h-3 bg-gray-200 rounded-full">
        <div
          class="h-full bg-green-500 rounded-full"
          [style.width.%]="stat.base_stat"
        ></div>
      </div>
    </div>

    <h2 class="mt-4 mb-2 text-lg font-semibold">Types</h2>
    <ul class="flex gap-2">
      <li
        *ngFor="let type of pokemon.types"
        class="px-3 py-1 text-white rounded-full"
        [ngClass]="{
          'bg-blue-500': type.type.name === 'water',
          'bg-green-500': type.type.name === 'grass',
          'bg-red-500': type.type.name === 'fire',
          'bg-yellow-500': type.type.name === 'electric',
          'bg-gray-500': type.type.name === 'rock',
          'bg-purple-500': type.type.name === 'poison',
          'bg-gray-400': type.type.name === 'normal',
          'bg-pink-500': type.type.name === 'fairy'
        }"
      >
        {{ type.type.name }}
      </li>
    </ul>

    <div class="flex gap-4 mt-4">
      <a
        class="px-4 py-2 text-white bg-gray-500 rounded-md hover:bg-gray-600"
        [class.opacity-50]="currentEvolutionIndex === 0"
        [routerLink]="
          currentEvolutionIndex > 0
            ? [
                '/pokemon-detail',
                evolutionChain[currentEvolutionIndex - 1]?.name
              ]
            : null
        "
        [queryParamsHandling]="'merge'"
        [attr.aria-disabled]="currentEvolutionIndex === 0 ? 'true' : null"
      >
        Devolve
      </a>
      <a
        class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600"
        [class.opacity-50]="currentEvolutionIndex === evolutionChain.length - 1"
        [routerLink]="
          currentEvolutionIndex < evolutionChain.length - 1
            ? [
                '/pokemon-detail',
                evolutionChain[currentEvolutionIndex + 1]?.name
              ]
            : null
        "
        [queryParamsHandling]="'merge'"
        [attr.aria-disabled]="
          currentEvolutionIndex === evolutionChain.length - 1 ? 'true' : null
        "
      >
        Evolve
      </a>
    </div>

    <div class="w-full max-w-md p-4 mt-4">
      <h3 class="text-lg font-semibold">Evolution Chain</h3>
      <ul class="mt-4 space-y-2">
        <li
          *ngFor="let evolution of evolutionChain; let i = index"
          [ngClass]="{
            'bg-yellow-400 text-black font-bold': i === currentEvolutionIndex,
            'bg-gray-300': i !== currentEvolutionIndex
          }"
          class="p-2 rounded-md"
        >
          {{ evolution.name | uppercase }}
        </li>
      </ul>
    </div>

    <div class="mt-6 text-center">
      <button
        class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600"
        (click)="toggleDrawer()"
      >
        Buy this
      </button>
    </div>
    <div class="mt-6 text-center">
      <a
        routerLink="/pokemon"
        class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600"
      >
        Back to List
      </a>
    </div>
  </div>
</main>

<app-pokemon-purchase-drawer
  *ngIf="isDrawerOpen"
  [pokemon]="pokemon"
  [evolutionChain]="evolutionChain"
  (closeDrawer)="toggleDrawer()"
  (formSubmitted)="openSuccessModal()"
></app-pokemon-purchase-drawer>

<app-purchase-success-modal
  *ngIf="showSuccessModal"
  (close)="closeSuccessModal()"
  (continueBrowsing)="closeSuccessModal()"
  (goToSubmission)="navigateToSubmission()"
></app-purchase-success-modal>
