<nav class="flex items-center justify-between px-6 py-4 text-white bg-gray-800">
  <div class="text-lg font-bold">Training Angular</div>
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/" class="hover:underline">Home</a>
    </li>
    <li>
      <a routerLink="/pokemon" class="hover:underline">Pokémon List</a>
    </li>
    <li>
      <a routerLink="/submission" class="hover:underline">Submissions</a>
    </li>
    <a routerLink="/cart" class="flex items-center hover:underline">
      Cart
      <span
        class="px-2 py-1 ml-2 text-xs font-bold text-white bg-red-500 rounded-full"
      >
        {{ cartItemCount$ | async }}
      </span>
    </a>
    <li>
      <a (click)="logout()" class="cursor-pointer hover:underline">Logout</a>
    </li>
  </ul>
</nav>
